body {
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.page-header__text {
    font-size: 1.625rem;
    font-weight: 700;
}

.filter-row {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 2rem;
    gap: 1rem;
}

.filter-row__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-row__group {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

.filter-row__group_main {
    gap: 1rem;
    flex-wrap: wrap;
}

.filter-row__group_other {
    position: relative;
    display: flex;
    gap: .25rem;
    flex-wrap: wrap;
}

.searchbar_group_main {
    width: 20rem;
    flex-wrap: wrap;
}

.filter-row__other {
    display: inline-flex;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .5rem;
    background-color: var(--color-light-grey);
    flex-wrap: wrap;
}

.input_filter-row_data_registration {
    width: 8.875rem;
}

.input_filter-row_order_status {
    position: relative;
    width: 12rem;
}

.input_filter-row_order_amount {
    width: 7.875rem;
}

.dropdown-status {
    position: absolute;
    display: none;
    top: 2.25rem;
    right: 0;
    z-index: -1;
}

.input__input-field_checked:focus ~ .dropdown-status, .dropdown-status:hover {
    display: block;
    z-index: 2;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    empty-cells: show;
    overflow-y: scroll;
    border-collapse: collapse;
}

.table__column-group {
    display: table-column-group;
}

.table__column {
    display: table-column;
}

.table__column_column_checkbox {
    width: 3%;
}

.table__column_column_id {
    width: 7%;
}

.table__column_column_date {
    width: 12%;
}

.table__column_column_status {
    width: 12%;
}

.table__column_column_number {
    width: 7.5%;
}

.table__column_column_sum {
    width: 8.5%;
}

.table__column_column_full-name {
    width: 100%;
}

.table__row_header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    color: var(--color-white);
    background-color: var(--color-blue);
}

.table__body {
    display: table-row-group;
    height: 100%;
    margin-top: 0;
    overflow: hidden;
    overflow-x: auto;
}

.table__row {
    display: table-row;
}

.table__cell {
    display: table-cell;
    vertical-align: middle;
    padding: .75rem .5rem .75rem .5rem;
}

.table__cell:first-child {
    padding-left: 1rem;
}

.table__cell:last-child {
    padding-right: 1rem;
}

.table__text {
    display: inline-block;
    vertical-align: top;
    padding-top: .05rem;
    height: 100%;
}

.table__icon {
    width: 1rem;
    fill: var(--color-white);
    stroke: var(--color-white);
}

.footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-light-grey);
    padding: .5rem 1rem .5rem 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 1;
}

.footer__group {
    appearance: none;   
    position: relative;
    display: flex;
    width: fit-content;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.footer__number-page {
    display: flex;
    gap: .25rem;
}

.footer__select-row {
    color: var(--color-blue);
}

.delete-container {
    position: relative;
}

.table-actions_choice_delete {
    position: absolute;
    display: none;
    left: 0;
    bottom: 1.75rem;
    z-index: 2;
}

.button_delete_row:focus ~ .table-actions_choice_delete, .table-actions_choice_delete:hover {
    display: flex;
    z-index: 1;
}