* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
}

*::-webkit-scrollbar {
    width: .75rem;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .5rem .5rem var(--color-scrollbar-track);
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 .5rem .5rem var(--color-scrollbar-thumb);
}

*::-webkit-scrollbar-track, *::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    border: solid .25rem transparent;
}

/**/
body, html {
    padding: 0;
    margin: 0;
}

.section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
    margin: 0;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.page-header__text {
    font-size: 1.625rem;
    font-weight: 700;
}

.filter-row {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 2rem;
    gap: 1rem;
}

.filter-row__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-row__group {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

.filter-row__group_main {
    gap: 1rem;
    flex-wrap: wrap;
}

.filter-row__group_other {
    position: relative;
    display: flex;
    gap: .25rem;
    flex-wrap: wrap;
}

.searchbar_group_main {
    width: 20rem;
    flex-wrap: wrap;
}

.filter-row__other {
    display: inline-flex;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .5rem;
    background-color: var(--color-light-grey);
    flex-wrap: wrap;
}

.input_filter-row_data_registration {
    width: 8.875rem;
}

.input_filter-row_order_status {
    position: relative;
    width: 12rem;
}

.input_filter-row_order_amount {
    width: 7.875rem;
}

.dropdown-status {
    position: absolute;
    display: none;
    top: 2.25rem;
    right: 0;
    z-index: -1;
}

.input__input-field_checked {
    text-align: left;
}

.input__input-field_checked:focus ~ .dropdown-status, .dropdown-status:hover {
    display: block;
    z-index: 2;
}

/**/
.table {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.table__row_header {
    top: 0;
    width: 100%;
    z-index: 1;
    
    color: var(--color-white);
    background-color: var(--color-blue);
}

.table__body {
    flex: 1 2 6rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.table__row {
    display: flex;
    box-sizing: border-box;
    padding-left: .5rem;
    padding-right: .5rem;
}

.table__body .table__row {
    border-bottom: 1px solid var(--color-light-grey);
}

.table__cell {
    display: flex;
    padding: .75rem .5rem .75rem .5rem;
}

.table__cell:nth-child(2) {
    min-width: 5rem;
    width: 7%;
}

.table__cell:nth-child(3),  .table__cell:nth-child(4){
    min-width: 7.5rem;
    width: 12%;
}

.table__cell:nth-child(5) {
    min-width: 5rem;
    width: 7.5%;
}

.table__cell:nth-child(6) {
    min-width: 6rem;
    width: 8.5%;
}

.table__cell:nth-child(7) {
    min-width: 15rem;
    overflow: hidden;
    flex-grow: 2;
}

.table__text {
    display: flex;
    align-items: center;
}

.table__header-icon {
    width: 1rem;
    fill: var(--color-white);
    stroke: var(--color-white);
}

.table__status-icon {
    
}

/**/

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-light-grey);
    padding: .5rem 1rem .5rem 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer__group {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.footer__number-page {
    display: flex;
    gap: .25rem;
}

.footer__select-row {
    color: var(--color-blue);
}

.delete-container {
    position: relative;
}

.table-actions_choice_delete {
    position: absolute;
    display: none;
    left: 0;
    bottom: 1.75rem;
}

.button_delete_row:focus ~ .table-actions_choice_delete, .table-actions_choice_delete:hover {
    display: flex;
    z-index: 1;
}