.checkbox {
    display: flex;
    position: relative;
    gap: .5rem;
}

.checkbox__input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border: .0625rem solid #BAD8F5;
    border-radius: .125rem;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
}

.checkbox__input:checked {
    background-color: #459DF5;
    border-color: #459DF5;
}

.checkbox__icon {
    position: absolute;
    left: 0;
    width: 1rem;
    fill: #fff;
}

.checkbox__label {
    display: flex;
    align-items: center;
    height: 1rem;
}

.checkbox__input:checked ~ .checkbox__label{
    color: #459DF5;
}