.radio__input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border: .0625rem solid #BAD8F5;
    border-radius: 1rem;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
}

.radio__input:checked {
    border: .25rem solid #459DF5;
}

.radio__input:checked + .radio__label {
    color: #459DF5;
}

.radio__input_display_none {
    display: none;
}

.radio__label {
    display: flex;
    align-items: center;
    height: 1rem;
}