.sort {
    cursor: pointer;
}

.sort_order, .sort:hover {
    background-color: var(--color-hover);
}

.sort_order_reverse {
    background-color: var(--color-hover);
}

.sort_order_reverse .table__header-icon {
    transform: rotate(180deg);
}